!!!
%html
  %head
    %title Worlds Blankest Blank
    = stylesheet_link_tag :application
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Smokum"
    %body
      %header
        %h1 Worlds Blankest Blank
      = yield

